<footer>
  <div class="f-info">
    <div class="f-info-social">
      <a href="https://www.linkedin.com/in/sarthakshastrakar91/" target="_blank"
        ><i class="fa-brands fa-linkedin" aria-hidden="true"></i
      ></a>
      <a href="https://github.com/sarthak-shastrakar" target="_blank">
        <i class="fa-brands fa-github-square" aria-hidden="true"></i
      ></a>
      <!-- <i class="fa-brands fa-square-facebook"></i> -->
      <a href="mailto:sarthakshastrakar9@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
    <div>&copy;MarktMitra Private limited.</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Term's</a>
    </div>
  </div>
</footer>
